version: "3.8"
services:
  postgres:
    image: postgres:16
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=app
      - POSTGRES_PASSWORD=mysecretpassword
      - POSTGRES_DB=app
    volumes:
      - 'app_db:/var/lib/postgresql/data'
    networks:
      - app-network

networks:
  app-network:
volumes:
  app_db:
