---
import Layout from '../../../../layouts/Layout.astro';
import AppShell from '../../../../components/AppShell.svelte';
import KanbanBoard from '../../../../components/kanban/KanbanBoard.svelte';

export const prerender = false;

const { id: projectId, boardId } = Astro.params;
---

<Layout title="Board - Pulse">
  <AppShell client:load currentPath={`/projects/${projectId}/board/${boardId}`}>
    <div class="h-full overflow-hidden">
      <div class="max-w-full mx-auto py-4 px-4 sm:px-6 lg:px-8 h-full">
        <KanbanBoard client:load boardId={boardId!} />
      </div>
    </div>
  </AppShell>
</Layout>
