---
import Layout from '../../../../layouts/Layout.astro';
import AppShell from '../../../../components/AppShell.svelte';
import BoardWithSprints from '../../../../components/kanban/BoardWithSprints.svelte';

export const prerender = false;

const { id: projectId, boardId } = Astro.params;
const cardId = Astro.url.searchParams.get('card');
---

<Layout title="Board - Kaimu">
  <AppShell client:load currentPath={`/projects/${projectId}/board/${boardId}`}>
    <div class="h-full overflow-hidden">
      <BoardWithSprints
        client:load
        boardId={boardId!}
        projectId={projectId!}
        initialCardId={cardId}
      />
    </div>
  </AppShell>
</Layout>
