---
import Layout from '../../layouts/Layout.astro';
import AppShell from '../../components/AppShell.svelte';
import OrganizationDetail from '../../components/OrganizationDetail.svelte';

export const prerender = false;

const { id } = Astro.params;
---

<Layout title="Organization - Pulse">
  <AppShell client:load currentPath={`/organizations/${id}`}>
    <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
      <OrganizationDetail client:load organizationId={id!} />
    </div>
  </AppShell>
</Layout>
