{{- if .Values.backend.enabled }}
{{- if not .Values.backend.oidc.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kaimu.fullname" . }}-backend-secrets
  labels:
    {{- include "kaimu.backend.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if and (not .Values.postgresql.enabled) (not .Values.backend.database.existingSecret) }}
  db-password: {{ .Values.backend.database.password | quote }}
  {{- end }}
  oidc-providers: {{ .Values.backend.oidc.providers | quote }}
  {{- if .Values.backend.email.password }}
  email-password: {{ .Values.backend.email.password | quote }}
  {{- end }}
{{- end }}
{{- end }}
